h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(31, 11, 130);
  width: 30%;
  margin-inline: auto;
  font-family: 'Cantarell', sans-serif;
}




.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.difficulty-buttom {
  background-color: rgb(226, 162, 43);
}