h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(43, 55, 82);
  width: 30%;
  margin-inline: auto;
  font-family: 'Cantarell', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
}




.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.difficulty-buttom {
  padding: 10px 20px;
  background-color: rgb(46, 110, 101);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.difficulty-buttom:hover {
  background-color: rgb(51, 147, 134);
}
